
body{
 background-color: bisque;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav li{
 display: inline;
 text-align: center;
 margin-right: 50px;

}
header{
 position: fixed;
 top: 0px;
 left: 0px;
 width: 100%;
 padding: 10px;
 background-color: bisque;
 
 margin: 0px;
 text-align: right;
 font-size:120%;
 font-weight: bold;
 
}
h2 {
 font-size:  200%;
}
.head{
 text-align: center;
 justify-content: center;
 margin-bottom: 100px;
 margin-top: 100px;

}
.image img{
 width: 70px;
 float: left;
 margin-left: 100px;
 margin-top: 20px;
  
}
h3, p{
 margin-left:  200px;

}
.video{
 justify-content: center;
 display: flex;
 margin-bottom: 50px;
 margin-top: 50px; 
}

.dwon {
 display: flex;
 justify-content: center;
 
}
.dwon ul{
 list-style: none;
 margin: 40px;
 border: 3px solid #000;
 border-radius: 10px;
 padding: 10px;
 width: 75%;
 text-align: center;
 display: grid;
}
.level {
 font-size: 130%;
 font-weight: bold;
 background-color: silver;
 text-align: center;
}
footer{
 padding: 10px;
 text-align: right;
 background-color: silver;
 margin-top: 100px;
 color: black;
 font-size: 100%;
 
 
}
footer a{
 color: #000;
 margin-right: 20px;
}
footer p{
 margin-right: 20px;
}

