*{
 background-color: blanchedalmond;
 
}
body{
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav li{
 display: inline;
 text-align: center;
 margin-right: 50px;

}
header{
 text-align: right;
}
h2{
 text-align: center;
 font-size:  200%;
}
section{
 text-align: center;
 justify-content: center;
}
.image img{
 width: 70px;
 float: left;
 margin-left: 150px;
 margin-top: 20px; 
}
h3, p{
 margin-left:  250px;
 align-items:center;
}
.video{
 justify-content: center;
 display: flex;
 margin-bottom: 50px; 
}
section{
 display: flex;
 flex-direction:column;
 align-items: center;
 text-align: center;
 width: calc(100% / 3);
 margin: 10px;
 border: 1px solid #000;
 border-radius: 3px;
}

